{% extends "ProjectBundle::layout.html.twig" %}
{% block title %}Nowe zamówienie{% endblock %}


{% block content %}

    <h1>Wybrane pozycje</h1>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">

				
			</div>
		</div>
	</div>
    {{ form(form) }}
    

{% endblock %}
