<div id="dd" class="wrapper-dropdown-2">
	<a href="{{ path('project_cart') }}">Wartość: {{ summaryPrice }} zł</a></span>
		<ul class="dropdown">
			<li>Filmów w koszyku: {{ itemsCount }}</li>
		</ul></div>