{% extends 'ProjectBundle::layout.html.twig' %}

{% block content %}
    <h1>Comment creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_comment') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}