{% extends "ProjectBundle::layout.html.twig" %}
{% block title %}Panel Administracyjny{% endblock %}

{% block content %}

<div class="header_bottom_left">				
	<div class="categories">
		<ul>
			<h3>Menu</h3>
				<li><a href="/admin/movie/">Filmy</a></li>
				<li><a href="/admin/category/">Kategorie</a></li>

		</ul>
	</div>					
</div>

<div class="header_bottom_right">					 
	<div class="content_top">
		<div class="heading">
		Panel Administracyjny
		</div>
	<div class="see">
	</div>
	<div class="clear"></div>
</div>
									
<div class="section group">

	Panel Administracyjny
				
</div>		

		
			 

{% endblock %}